In [2]:
import pandas as pd
from google.colab import drive
from google.colab import files

In [3]:
drive.mount('/content/Drive/')

Mounted at /content/Drive/

# Bike rental  
https://www.kaggle.com/datasets/kukuroo3/bike-users-predict?select=train.csv  
https://www.kaggle.com/datasets/marklvl/bike-sharing-dataset?select=Readme.txt

In [4]:
data = pd.read_csv('/content/Drive/MyDrive/논문/bike_data 전처리/bike.csv')
data.head()

,Unnamed: 0,dteday,hr,weathersit,temp,atemp,hum,windspeed,casual,cnt
0,3094,2011-05-13,20,2,0.52,0.5000,0.83,0.1343,22,152
1,10645,2012-03-24,16,3,0.50,0.4848,0.94,0.2985,49,177
2,2114,2011-04-02,23,1,0.32,0.3182,0.61,0.1642,20,53
3,15289,2012-10-04,6,3,0.62,0.5455,0.94,0.0896,1,133
4,2273,2011-04-09,14,2,0.36,0.3485,0.81,0.1343,94,212

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10948 entries, 0 to 10947
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10948 non-null  int64
 1   dteday      10948 non-null  object
 2   hr          10948 non-null  int64
 3   weathersit  10948 non-null  int64
 4   temp        10948 non-null  float64
 5   atemp       10948 non-null  float64
 6   hum         10948 non-null  float64
 7   windspeed   10948 non-null  float64
 8   casual      10948 non-null  int64
 9   cnt         10948 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 855.4+ KB

In [7]:
data.describe()

,Unnamed: 0,hr,weathersit,temp,atemp,hum,windspeed,casual,cnt
count,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000,10948.000000
mean,8692.054074,11.584034,1.427749,0.498230,0.477251,0.627739,0.189384,35.937980,191.253562
std,5022.534466,6.915254,0.640282,0.192784,0.172065,0.193287,0.121738,49.174875,182.541867
min,1.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4331.750000,6.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,40.000000
50%,8682.500000,12.000000,1.000000,0.500000,0.484800,0.630000,0.164200,17.000000,145.000000
75%,13047.000000,18.000000,2.000000,0.660000,0.621200,0.790000,0.253700,49.000000,282.000000
max,17378.000000,23.000000,4.000000,1.000000,0.984800,1.000000,0.850700,367.000000,976.000000

In [8]:
data['cnt'] = (data['cnt'] - data['cnt'].min())/(data['cnt'].max() - data['cnt'].min()) # 정규화

In [9]:
data = data.iloc[:, 1:] # 첫번째 열 제거

In [10]:
data_re = data.sort_values(['dteday', 'hr']) # 연속적인 시계열 데이터로 변환 (시계열 퍼지화를 위해)

In [11]:
data_re.corr()

,hr,weathersit,temp,atemp,hum,windspeed,casual,cnt
hr,1.000000,-0.023252,0.143152,0.139676,-0.278424,0.133230,0.300305,0.388727
weathersit,-0.023252,1.000000,-0.102786,-0.107227,0.416418,0.018192,-0.153944,-0.142850
temp,0.143152,-0.102786,1.000000,0.989793,-0.077377,-0.019147,0.458940,0.403569
atemp,0.139676,-0.107227,0.989793,1.000000,-0.061647,-0.056923,0.455722,0.400711
hum,-0.278424,0.416418,-0.077377,-0.061647,1.000000,-0.294543,-0.344185,-0.324985
windspeed,0.133230,0.018192,-0.019147,-0.056923,-0.294543,1.000000,0.094566,0.090655
casual,0.300305,-0.153944,0.458940,0.455722,-0.344185,0.094566,1.000000,0.693498
cnt,0.388727,-0.142850,0.403569,0.400711,-0.324985,0.090655,0.693498,1.000000

In [12]:
data_re.head()

,dteday,hr,weathersit,temp,atemp,hum,windspeed,casual,cnt
9360,2011-01-01,1,1,0.22,0.2727,0.80,0.0,8,0.040000
5889,2011-01-01,2,1,0.22,0.2727,0.80,0.0,5,0.031795
3421,2011-01-01,4,1,0.24,0.2879,0.75,0.0,0,0.000000
7355,2011-01-01,6,1,0.22,0.2727,0.80,0.0,2,0.001026
7877,2011-01-01,7,1,0.20,0.2576,0.86,0.0,1,0.002051

In [ ]:
data_re.to_csv('bike.csv',index=False)
files.download('bike.csv')